body {
  margin: 0;
  background-color: black;
  background-image: linear-gradient(rgb(0 0 0 / 0%), rgb(0 0 0 / 0%)), url(galaxy.jpg);
  background-size: cover;
}
canvas {
  width: 100vw;
  height: 90vh;
  display: block;
}
#panel{
  background-color: black;
}
#day{
  color: white;
}
#background{
  width: 100vw;
  height: 90vh;
  display: block;
  position: absolute;
  background: linear-gradient(rgb(0 0 0 / 0%), rgb(0 0 0 / 0%));
}
