body {
  margin: 0;
  background-color: black;
}
canvas {
  width: 100vw;
  height: 90vh;
  display: block;
  background: url('https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
}
#panel{
  background-color: black;
}
#day{
  color: white;
}
